@model List<CarSnapScore.MVC.Models.CarModel>
@{
    this.ViewData["Title"] = "Settings";
}

<div class="text-center">
    
    @if (this.Model.Count == 0)
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-3"><h1 class="display-4">Settings:</h1></div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <form asp-controller="Home" asp-action="Settings" method="post">
                        <button type="submit" class="btn btn-success">Generate 5 Cars</button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form asp-controller="Home" asp-action="ResetMe" method="post">
                        <button type="submit" class="btn btn-warning">Reset Me</button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form asp-controller="Home" asp-action="ResetVotes" method="post">
                        <button type="submit" class="btn btn-danger">Reset Votes</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="row">
                @foreach (CarModel car in this.Model.OrderBy(s => s.CarName))
                {
                    <div class="col-md-2">
                        <h4>@car.CarName</h4>
                        <img src="@car.CarImage" class="car" alt="@car.CarName Car Image" />
                    </div>
                }
            </div>
        </div>
    }
</div>

<style>
    img.car {
        height: 90%;
        width: 100%;
        object-fit: contain;
    }

    .col-md-2 {
        margin-top: 25px;
    }

    h4 {
        margin-botton: 0;
    }
</style>