@model List<CarSnapScore.MVC.Models.CarModel>
@{
    this.ViewData["Title"] = "Settings";
}

<div class="text-center">
    <h1 class="display-4">Settings:</h1>
    
    @if (this.Model.Count == 0)
    {
        <form asp-controller="Home" asp-action="Settings" method="post">
            <button type="submit" class="btn btn-primary">Generate 5 Cars</button>
        </form>
    }
    else
    {
        <ul>
            @foreach (CarModel car in this.Model)
            {
                <li>
                    @car.CarName <img src="@car.CarImage" alt="Car Image"/>
                </li>
            }
        </ul>
    }
</div>
