@model List<CarSnapScore.MVC.Models.CarViewModel>
@{
    this.ViewData["Title"] = "Settings";
}

<div class="text-center">
    <h1 class="display-4">Settings:</h1>
    <form method="post" action="/Home/Settings">
        <button type="submit" class="btn btn-primary">Generate 5 Cars</button>
    </form>
    
    @if (this.Model.Count > 0)
    {
        <ul>
            @foreach (CarViewModel car in this.Model)
            {
                <li>
                    @car.CarName <img src="@car.CarImage" alt="Car Image"/>
                </li>
            }
        </ul>
    }
</div>
